<a href="https://colab.research.google.com/github/nesviramahdani/Big-Data/blob/main/Tugas2_Aggregation%20and%20Grouping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [2]:
planets.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [3]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

NameError: ignored

In [4]:
ser.sum()

NameError: ignored

In [ ]:
ser.mean()

In [ ]:
df = pd.DataFrame({'A': rng.rand(5),
                  'B': rng.rand(5)})
df

In [ ]:
df.mean()

In [ ]:
df.mean(axis='columns')

In [ ]:
planets.dropna().describe()

In [5]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data': range(6)}, columns=['key', 'data'])
df

NameError: ignored

In [ ]:
df.groupby('key')

In [ ]:
df.groupby('key').sum()

In [ ]:
 planets.groupby('method')

In [ ]:
planets.groupby('method')['orbital_period']

In [ ]:
planets.groupby('method')['orbital_period'].median()

In [ ]:
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

In [ ]:
planets.groupby('method')['year'].describe().unstack()

In [ ]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                    columns = ['key', 'data1', 'data2'])
df

In [ ]:
df.groupby('key').aggregate(['min', np.median, max])

In [ ]:
df.groupby('key').aggregate({'data1': 'min',
                             'data2': 'max'})

In [ ]:
def filter_func(x):
    return x['data2'].std() > 4
print(df); print(df.groupby('key').std());
print(df.groupby('key').filter(filter_func))

In [ ]:
df.groupby('key').transform(lambda x: x - x.mean())

In [ ]:
def norm_by_data2(x):
            # x is a DataFrame of group values
            x['data1'] /= x['data2'].sum()
            return x
        print(df); print(df.groupby('key').apply(norm_by_data2))

In [ ]:
L = [0, 1, 0, 1, 2, 0]
print(df); print(df.groupby(L).sum())

In [ ]:
print(df); print(df.groupby(df['key']).sum())

In [ ]:
df2 = df.set_index('key')
mapping = {'A': 'vowel', 'B': 'consonant', 'C': 'consonant'}
print(df2); print(df2.groupby(mapping).sum())

In [ ]:
 print(df2); print(df2.groupby(str.lower).mean())

In [ ]:
df2.groupby([str.lower, mapping]).mean()

In [ ]:
decade = 10 * (planets['year'] // 10)
decade = decade.astype(str) + 's'
decade.name = 'decade'
planets.groupby(['method', decade])['number'].sum().unstack().fillna(0)